# Visual Studio

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
.nuget/

## Visual Studio
.vs/
.vscode/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## macOS
.DS_Store

## Linux
*~

## JetBrains Rider
.idea/

## Temporary files
*.tmp
*.temp
